.table_bg {
        background-color: #000000;
}
.table_head{
        background-color: #B9C3CF;
        color: #000000;
}
.table_col_0{
        background-color: #E9F3FF;
        color: #000000;
}
.table_col_1{
        background-color: #D9E3EF;
        color: #000000;
}
